{% extends 'base.html' %}

{% block title %}Edit Note - MemoMind{% endblock %}

{% block content %}
    <h2>Edit Note</h2>
    <form method="post" action="{{ url_for('update_note', id=note[0]) }}">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ note[1] }}" required>
        <label for="content">Content</label>
        <textarea name="content" id="content" required>{{ note[2] }}</textarea>
        <input type="submit" value="Update Note">
    </form>
{% endblock %}